---
import { menu, pdf } from "../data/menu.json"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Menu">
    <main>
        <div class="prose mx-auto my-20">
            <h1 class="text-center mb-16">Menu</h1>
            
            <div class="flex justify-center">
                <a href=`/${pdf.url}` role="button" class="btn btn-primary mx-auto text-center">PDF</a>
            </div>
        </div>
        
        <!-- menu -->
        <div class="container mx-auto my-20">
            {menu.map((section) => (
                <div class="mb-20">
                    <h2 class="mb-4 font-medium">{section.type}</h2>
                    
                    <div class="grid grid-cols-2 gap-12">
                        {section.items.map((item) => (
                            <div class="grid grid-cols-2">
                                <div><h3>{item.name}</h3></div>
                                <div class="justify-self-end">{item.price.toFixed(2)}</div>
                                <div class="col-span-2">
                                    <p>{item.desc}</p>
                                </div>
                            </div>
                        ))}
                    </div>
                </div>
            ))}
        </div>
    </main>
</Layout>