---
import { menu, pdf } from "../data/menu.json"
import Layout from "../layouts/Layout.astro"
---

<Layout title="Menu">
    <main>
        <div class="prose mx-auto my-20">
            <h1 class="text-center mb-16">Menu</h1>
            
            <div class="flex justify-center">
                <a href=`/${pdf.url}` type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2 no-underline">
                    <svg class="w-[16px] h-[16px] dark:text-white mr-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 13V4M7 14H5a1 1 0 0 0-1 1v4a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1v-4a1 1 0 0 0-1-1h-2m-1-5-4 5-4-5m9 8h.01"/>
                      </svg>                      
                    PDF
                </a>
            </div>
        </div>
        
        <!-- menu -->
        <div class="container mx-auto my-20">
            {menu.map((section) => (
                <div class="mb-20">
                    <h2 class="mb-4 font-medium">{section.type}</h2>
                    
                    <div class="grid grid-cols-2 gap-12">
                        {section.items.map((item) => (
                            <div class="grid grid-cols-2">
                                <div><h3>{item.name}</h3></div>
                                <div class="justify-self-end">{item.price.toFixed(2)}</div>
                                <div class="col-span-2">
                                    <p>{item.desc}</p>
                                </div>
                            </div>
                        ))}
                    </div>
                </div>
            ))}
        </div>
    </main>
</Layout>